# Node modules (VERY important)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (for passwords, secrets later)
.env

# OS files
.DS_Store
Thumbs.db

# Optional: editor files
.vscode/
.idea/

# Optional: build files
dist/
build/
